* {
	 box-sizing: border-box;}
	 
	 .container {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 text-align: center;}
	 
	 .h2 {
	 color: #506eff;}
	 
	 .box {
	 width: 200px;
	 height: 100px;
	 box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);}
	 
	 .hexColor {
	 font-weight: 700;
	 margin-top: 10px;}
	 
	 .btn {
	 width: 100px;
	 height: 35px;
	 border: none;
	 box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
	 margin-top: 10px;}